In [1]:
import os
import numpy as np
import pandas as pd
os.getcwd()

'/home/anubrata/Documents/aarti_data/new_data'

In [ ]:
arti_data=pd.read_excel("all_samples_EDIT.xls",sheet_name=0,header=0)

In [32]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_columns',None)
#arti_data.drop(['CDS_size','Codons_around','Custom_interval_ID'],axis=1,inplace=True)
#arti_data.drop(['Codon_Num(CDS)','AAs_around'],axis=1,inplace=True)
#arti_data.drop(['Codon_Degeneracy','Unnamed: 28','Unnamed: 29'],axis=1,inplace=True)
#arti_data['stm_1_S13']=arti_data['stm_1_S13'].replace('./.','Non_Var')
#arti_data['ntrc_gDNA_2']=arti_data['ntrc_gDNA_2'].replace('./.','Non_Var')
#arti_data['SCV_2']=arti_data['SCV_2'].replace('./.','Non_Var')
arti_data.reset_index()
arti_data.head()

,Position,REF,ALT,stm_1_S13,C_Cip,A_cip,cip_2B_S14,ntrc_gDNA_2,SCV_2,Repl2_244M,Change_type,Coverage,Warnings,Gene_ID,Gene_name,Bio_type,Trancript_ID,Exon_ID,Exon_Rank,Effect,old_AA/new_AA,Old_codon/New_codon,Codon_Num(CDS),Codon_Degeneracy,CDS_size,Codons_around,AAs_around,Custom_interval_ID,Unnamed: 28,Unnamed: 29
0,507,C,T,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,4179.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggC/ggT,57,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,537,A,C,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,4690.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,A/A,gcA/gcC,67,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,744,A,C,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,5187.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggA/ggC,136,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,747,T,C,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,5560.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,L/L,ctT/ctC,137,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,762,G,A,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,5371.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggG/ggA,142,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
#arti_data.groupby('Bio_type')['Trancript_ID'].count()
arti_data.groupby('Trancript_ID')['Trancript_ID'].count().sort_values(ascending=True).to_csv("error_Trancript_ID.csv")

/home/anubrata/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

In [49]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
#arti_data.groupby('Bio_type')['Trancript_ID'].count()
arti_data.groupby('Bio_type')['Bio_type'].count().sort_values(ascending=False).to_csv("error_Bio_type.csv")

/home/anubrata/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

In [17]:
arti_data[arti_data.Trancript_ID!=1]

,Position,REF,ALT,stm_1_S13,C_Cip,A_cip,cip_2B_S14,ntrc_gDNA_2,SCV_2,Repl2_244M,Change_type,Coverage,Warnings,Gene_ID,Gene_name,Bio_type,Trancript_ID,Exon_ID,Exon_Rank,Effect,old_AA/new_AA,Old_codon/New_codon,Codon_Num(CDS),Codon_Degeneracy,CDS_size,Codons_around,AAs_around,Custom_interval_ID,Unnamed: 28,Unnamed: 29
42,5890,T,C,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,4610.0,INTERGENIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,7420,G,T,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,3932.0,INTERGENIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,7432,A,G,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,4060.0,INTERGENIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,7508,T,C,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,4493.0,INTERGENIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,9326,A,G,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,4869.0,INTERGENIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43278,4856558,T,C,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,1961.0,INTERGENIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43279,4856655,A,C,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,3595.0,INTERGENIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43290,4857443,A,AAAT,./.,./.,1/1,./.,./.,./.,./.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43291,4857445,A,"ATAATAAGAGAT,ATAATAAGAGATTACGTC",./.,./.,./.,./.,1/1,./.,2/2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43292,3,G,A,./.,./.,./.,./.,1/1,./.,./.,SNP,559.0,INTERGENIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
arti_data.shape

(43294, 30)

In [51]:
arti_data[arti_data.SCV_2!='Non_Var'].head()

,Position,REF,ALT,stm_1_S13,C_Cip,A_cip,cip_2B_S14,ntrc_gDNA_2,SCV_2,Repl2_244M,Change_type,Coverage,Warnings,Gene_ID,Gene_name,Bio_type,Trancript_ID,Exon_ID,Exon_Rank,Effect,old_AA/new_AA,Old_codon/New_codon
405,39536,C,T,Non_Var,./.,./.,./.,Non_Var,1/1,./.,SNP,515.0,INTERGENIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2827,294865,C,T,Non_Var,./.,./.,./.,Non_Var,1/1,./.,SNP,907.0,WARNING_TRANSCRIPT_INCOMPLETE,gene253,aspU,rna5,id273,1,SYNONYMOUS_CODING,V/V,gtC/gtT,9.0
3046,314224,C,T,Non_Var,./.,./.,./.,Non_Var,1/1,./.,SNP,916.0,gene272,STM0273,Transcript_gene272,Exon_NC_003197.2_313933_314475,1,SYNONYMOUS_CODING,V/V,gtC/gtT,97,4.0
4007,416667,T,C,Non_Var,./.,./.,./.,Non_Var,1/1,./.,SNP,895.0,gene366,prpR,Transcript_gene366,Exon_NC_003197.2_416087_417712,1,SYNONYMOUS_CODING,K/K,aaA/aaG,349,2.0
4080,422380,C,T,Non_Var,./.,./.,./.,Non_Var,1/1,./.,SNP,702.0,gene370,prpE,Transcript_gene370,Exon_NC_003197.2_421688_423574,1,NON_SYNONYMOUS_CODING,S/F,tCc/tTc,231,1.0

In [60]:
arti_data.groupby(['Gene_ID','Warnings'])['Gene_ID'].count().sort_values(ascending=False)

Gene_ID        Warnings
Gene_gene2690  Gene_gene2690    179
STM4261        gene4264         174
metH           gene4191          73
STM4489        gene4493          72
carB           gene66            59
                               ...
ymdA           gene1142           1
ppa            gene4418           1
yqjB           gene3227           1
yceI           gene1153           1
Gene_gene1182  Gene_gene1182      1
Name: Gene_ID, Length: 3879, dtype: int64

In [65]:
arti_data.groupby('Change_type')['Change_type'].count()

Change_type
DEL        4
INS       33
SNP    42952
Name: Change_type, dtype: int64

In [67]:
arti_data.groupby(['Gene_ID','Change_type'])['Change_type'].count()

Gene_ID        Change_type
Gene_gene1182  SNP             1
Gene_gene1241  SNP             1
Gene_gene1244  SNP             2
Gene_gene1470  SNP            10
Gene_gene1549  SNP            13
                              ..
zntR           SNP             6
znuB           SNP             3
zraP           SNP             3
zur            SNP             6
zwf            SNP            14
Name: Change_type, Length: 3887, dtype: int64

In [68]:
arti_data.head(n=2)
#rev_data.shape

,Position,REF,ALT,stm_1_S13,C_Cip,A_cip,cip_2B_S14,ntrc_gDNA_2,SCV_2,Repl2_244M,Change_type,Coverage,Warnings,Gene_ID,Gene_name,Bio_type,Trancript_ID,Exon_ID,Exon_Rank,Effect,old_AA/new_AA,Old_codon/New_codon
0,507,C,T,Non_Var,1/1,1/1,1/1,Non_Var,Non_Var,1/1,SNP,4179.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggC/ggT,57,4.0
1,537,A,C,Non_Var,1/1,1/1,1/1,Non_Var,Non_Var,1/1,SNP,4690.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,A/A,gcA/gcC,67,4.0

In [3]:
data2=pd.read_csv('A_cip-1_New.csv')

In [4]:
data2.head(n=2)

,Chrom,Position,Reference,Variant,Type,Zygosity,Quality,Coverage,Gene_ID,Trancript_ID,Exon_ID,Exon_Rank,Effect,old_AA/new_AA,Old_codon/New_codon,Codon_Num(CDS)
0,NC_003197.2,507,C,T,SNP,Hom,221.999,1028,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggC/ggT,57.0
1,NC_003197.2,537,A,C,SNP,Hom,221.999,1130,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,A/A,gcA/gcC,67.0

In [10]:
new_data=data2.loc[:,['Gene_ID','Position','Effect']]
new_data.head(n=10)

  Gene_ID  Position                 Effect
0    thrA       507      SYNONYMOUS_CODING
1    thrA       537      SYNONYMOUS_CODING
2    thrA       744      SYNONYMOUS_CODING
3    thrA       747      SYNONYMOUS_CODING
4    thrA       762      SYNONYMOUS_CODING
5    thrA       828      SYNONYMOUS_CODING
6    thrA       831      SYNONYMOUS_CODING
7    thrA       877  NON_SYNONYMOUS_CODING
8    thrA      1245      SYNONYMOUS_CODING
9    thrA      1254      SYNONYMOUS_CODING

In [15]:
len(new_data),len(arti_data)

(40858, 43294)

In [21]:
old_data=pd.read_csv('Cip_2B_S14.csv')

In [22]:
len(new_data),len(arti_data),len(old_data)

(40858, 43294, 42668)

In [23]:
comp_data=arti_data.merge(new_data,how='outer',on='Position')

In [24]:
comp_data1=pd.merge(arti_data,new_data,how='outer',on='Position')

In [29]:
any(comp_data!=comp_data1)

True